@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;

    margin:0 auto;
    padding: 41px 149px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
   text-align: center;
}
.title{
    display: flex;
    gap: 68px;
}
.btn{
    width: 111px;
height: 42px;
gap: 0px;
opacity: 0px;
border-radius: 15px;
background-color: #fff;
}
.main{
    display: flex ;
}
.batn{
    width: 262px;
height: 64px;
top: 524px;
left: 148px;
gap: 0px;
opacity: 0px;
border-radius: 15px;
background-color:  blue;
display: flex;
align-items: center;
margin-top: 42px;
}
.batn:active{
    color: blue;
    background-color: #fff;
}
.h2{
    margin-top: 150px;
    margin-bottom: 50px;
}
.kitob{
    position: relative;
    top: -420px;
    left: 600px;
    z-index: 1000;
}

ul li a{
      color: #373737; 
}
ul li a:hover{
    color: red;
}
.facebook{
    margin-top: -830px;
}
.bg-img{
    position: absolute;
    top: 300px;
    right: 0px;
    z-index: -1;
}
.facebook{
    position: relative;
    top: 420px;

    margin: 0 auto;
}


/* section-testimonial */

.testimonial {
    padding: 0 148px;
}

.testimonial h2 {
    padding-top: 115px;
    text-align: center;
    font-family: Roboto;
    font-size: 37px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.4625000059604645px;
    text-align: center;
    margin-bottom: 25px;
}

.testimonial-desc {
    width: 949px;
    height: 80px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    margin: 0 auto;
}

.testimonial-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testimonial .cards {
    display: flex;
    align-items: stretch;
}

.testimonial-content li h3 {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 900;
    line-height: 25.78px;
    color: #37474F;
}

.testimonial-content li p {
    margin-top: 5px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    color: #37474F;
    opacity: 0.65;
}

.cards {
    overflow-x: hidden;
    margin-top: 142px;
}

.card {
    padding: 10px;
}

.card p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
    color: #37474FB8;
    margin-top: 30px;
    width: 300px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
    margin-top: 85px;
    margin-bottom: 100px;
}


/* section-foot-start */

.section-foot-start {
    background-color: #FAFAFA;
}

.foot-start {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 82px 148px 74px;
}

.foot-start h3 {
    font-family: Roboto;
    font-size: 37px;
    font-weight: 700;
    line-height: 43.36px;
    font-family: Roboto;
    font-size: 37px;
    font-weight: 700;
    line-height: 43.36px;
}

.foot-start button {
    padding: 12px 33px 12px 34px;
    display: flex;
    align-items: center;
    gap: 44px;
    background: #717CFF;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
}


/* footer */

footer {
    background: #717CFF;
    height: 346px;
}

.foot {
    display: flex;
    /* align-items: center; */
}

.about-site {
    margin-top: 64px;
    margin-left: 144px;
    width: 345px;
}

.about-site img {
    margin-bottom: 26px;
}

.about-site p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #EEEEEE;
}

.scn {
    margin-bottom: 58px;
}

.about-site span {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #EEEEEE;
    margin-top: 58px;
}

.first-ul {
    margin-right: 106px;
}

.first-ul li a,
.second-ul li a {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 49px;
    color: #EEEEEE;
}

.first-ul {
    margin-top: 70px;
    margin-left: 130px;
}

.second-ul {
    margin-top: 70px;
    margin-left: 106px;
    margin-right: 152px;
}

.sm-img {
    margin-top: 236px;
}

.sm-img img {
    margin-right: 28px;
}

.sm-img img:nth-child(3) {
    margin-right: 0;
}
/* universiteis-section uchun stillar */
.universiteis-section{

background-color: #fafafa;

}
.universiteis h2{
    padding-top: 55px;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto;
font-size: 23px;
font-weight: 500;
line-height: 26.95px;
letter-spacing: 2.0999999046325684px;
text-align: center;
color: #373737;
padding-bottom: 86px;

opacity: 73%;

}
.universiteis ul li{
    display: flex;
    justify-content: space-between;
    padding-bottom: 104px;
}
.content{
    text-align:  center;
    padding-bottom: 57px;
}
/* servic section uchun stillar */
.servic section{
    background-color: #fafafa;
}
.servic h2{
    padding-top: 122px;
    text-align: center;
    font-family: Roboto;
font-size: 37px;
font-weight: 700;
line-height: 54px;
letter-spacing: -0.4625000059604645px;
text-align: center;
padding-bottom: 25px;
color: #373737;
}
.servic{
    position: relative;
}
.servic p{
    font-family: Roboto;
font-size: 22px;
font-weight: 500;
line-height: 38px;
text-align: center;
color: #7D7D7D;
padding-bottom: 110px;
}
.servic ul{
   display: flex;
 
   gap: 127px;
   flex-wrap: wrap;
}
.servic ul li{
 
width: 344px;

border-radius: 10px;
box-shadow: 0px 0px 77px 0px #0000000F;
background-color:#ffffff




}
.servic ul li img{
    padding-top: 29px;
    padding-left: 31px;
padding-bottom: 30px;
}
.servic ul li h3{
    font-family: Roboto;
font-size: 24px;
font-weight: 700;
line-height: 37px;
color: #37474F;
padding-left: 31px;
padding-bottom: 9px;
}
.servic ul li p{
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.4444440007209778px;
color: #37474FB8;
padding-left: 25px;
width: 297px;
height: 90px;





}
.servic ul li a{
    font-family: Roboto;
font-size: 17px;
font-weight: 700;
line-height: 19.92px;
letter-spacing: 0.4392859935760498px;
text-align: center;
color: #717CFF;
padding-left: 36px;
position: absolute;
}

.Counselling{
 position: absolute;

}
.Counselling div{
    display: flex;
    align-items: center;
}
.content-roup{
    display: flex;
padding-left: 280px;
gap: 127px;
}
.symbol{

 margin-left: 120px;
padding-top: 20px;
color: #717CFF;

}
.servic ul li div{
    display: flex;
    align-items: center;
}
